.roomPage {
    background-color: #40BCD8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.roomCornerText {
    position: absolute;
    top: 2%;
    left: 2%;
}

.playerElements {
    width: 1300px;
}

.roomCode {
    margin: 0;
}

.noCode {
    margin: 0;
}

.reactPlayer {
    position: absolute;
    left: 120px;
    bottom: 10%;
}