@font-face {
  font-family: neon;
  src: url(./fonts/hello-denver-display.denver-display-regular-regular.ttf);
  font-weight: 700;
}

@font-face {
  font-family: script;
  src: url(./fonts/league-script-thin.league-script.ttf);
}

body {
  margin: 0;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  cursor: url(./pictures/arrow.png), auto;
  position: relative;
  &::before {
    content: ' ';
    position: fixed; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./pictures/bricks.jpg) no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: -1;
  }
}

* {
  margin: 0;
  border: 0;
}

.pageOneBox {
  height: 100vh;
}

.titleWrapper {
  position: absolute;
  top: 50vh;
  left: 10vw;
  transform: translateY(-50%);
}

.title {
  color: #DFDEDE;
  font-family: neon;
  font-size: 16.5vw;
  text-shadow: 
    .1vw 0vw .25vw #ffd8ff, .2vw 0vw .25vw #ffd8ff, .4vw 0vw .25vw #ffd8ff, 
    .1vw 0vw   0vw #d357f2, .2vw 0vw   0vw #d357f2, .4vw 0vw   0vw #d357f2,
    .1vw 0vw  .1vw #d357f2, .2vw 0vw  .1vw #d357f2, .4vw 0vw  .1vw #d357f2,
    .1vw 0vw   2vw #d357f2, .2vw 0vw   2vw #d357f2, .4vw 0vw   2vw #d357f2, 
    .1vw 0vw   1vw #790aa5, .2vw 0vw   1vw #790aa5, .4vw 0vw   5vw #790aa5, 
    .1vw 0vw   5vw #790aa5, .2vw 0vw  20vw #790aa5, .4vw 0vw  10vw #790aa5,
    .1vw 0vw  10vw #790aa5, .2vw 0vw  30vw #790aa5, .4vw 0vw  10vw #790aa5;
  letter-spacing: 1vw;
  display: inline;
}

.microphone {
  position: relative;
  width: 12.5vw;
  bottom: -1.35vw;
}

.subtitle {
  color: #DFDEDE;
  font-family: script;
  text-shadow: 
    .05vw 0vw .25vw #ffd8ff, .1vw 0vw .25vw #ffd8ff,  .2vw 0vw .25vw #ffd8ff, 
    .05vw 0vw   0vw #d357f2, .1vw 0vw   0vw #d357f2,  .2vw 0vw   0vw #d357f2,
    .05vw 0vw  .1vw #d357f2, .1vw 0vw  .1vw #d357f2,  .2vw 0vw  .1vw #d357f2,
    .05vw 0vw   2vw #d357f2, .1vw 0vw   2vw #d357f2,  .2vw 0vw   2vw #d357f2, 
    .05vw 0vw   1vw #790aa5, .1vw 0vw   1vw #790aa5,  .2vw 0vw   5vw #790aa5, 
    .05vw 0vw   5vw #790aa5, .1vw 0vw  20vw #790aa5,  .2vw 0vw  10vw #790aa5,
    .05vw 0vw  10vw #790aa5, .1vw 0vw  30vw #790aa5,  .2vw 0vw  10vw #790aa5;
  font-weight: 500;
  font-size: 2vw;
}

.buttonWrapper {
  position: absolute;
  top: 50vh;
  right: 10vw;
  transform: translateY(-50%);
  box-shadow:
    0 0 0.025vw  0.2vw #ffeed8,   
    0 0 0.2vw   0.3vw #f2b457, 
    0 0   2vw   0.2vw #a5620a,
    inset 0 0 0.5vw   0.2vw #a5620a,
    inset 0 0 0.2vw   0.1vw #f2b457,
    inset 0 0 0.25vw  0.1vw #ffeed8;
  border-radius: 1.2vw;
  text-align: center;
  padding: 1.2vw;
  height: 18vw;
  width: 16vw;
}

.frontExplanation {
  min-height: 100vh;
  position: relative;
}

.aboutTitle {
  color: #DFDEDE;
  font-family: neon;
  font-size: 4.5vw;
  letter-spacing: 0.4vw;
  text-shadow:
    .05vw 0vw .25vw #ffd8ff, .1vw 0vw .25vw #ffd8ff,  .2vw 0vw .25vw #ffd8ff, 
    .05vw 0vw   0vw #d357f2, .1vw 0vw   0vw #d357f2,  .2vw 0vw   0vw #d357f2,
    .05vw 0vw  .1vw #d357f2, .1vw 0vw  .1vw #d357f2,  .2vw 0vw  .1vw #d357f2,
    .05vw 0vw   2vw #d357f2, .1vw 0vw   2vw #d357f2,  .2vw 0vw   2vw #d357f2, 
    .05vw 0vw   1vw #790aa5, .1vw 0vw   1vw #790aa5,  .2vw 0vw   5vw #790aa5, 
    .05vw 0vw   5vw #790aa5, .1vw 0vw  20vw #790aa5,  .2vw 0vw  10vw #790aa5,
    .05vw 0vw  10vw #790aa5, .1vw 0vw  30vw #790aa5,  .2vw 0vw  10vw #790aa5;
}

.aboutText {
  color: #ffeed8;
  font-family: "Bebas Neue",sans-serif;
  font-size: 1.75vw;
  line-height: 2.5vw;
  font-weight: 200;
  letter-spacing: 0.05vw;
  text-align: justify;
  text-shadow: 
        .025vw 0vw .25vw #ffeed8, .05vw 0vw .25vw #ffeed8, .0075vw 0vw .25vw #ffeed8, 
        .025vw 0vw   0vw #f2b457, .05vw 0vw   0vw #f2b457, .0075vw 0vw   0vw #f2b457,
        .025vw 0vw   1vw #a5620a, .05vw 0vw   1vw #a5620a, .0075vw 0vw   5vw #a5620a;
}

.aboutAppTitle {
  position: absolute;
  top: 8%;
  left: 3%;
}

.aboutApp {
  position: absolute;
  top: 20%;
  margin: 0 10%;
}

.aboutCreatorsTitle {
  position: absolute;
  top: 58%;
  left: 3%;
}

.aboutCreators {
  position: absolute;
  top: 73%;
  margin: 0 10%;
}