.queueBox {
    width: 300px;
    height: 405px;
    background-color: #DFDEDE;
    position: absolute;
    bottom: 10%;
    right: 120px;
    border-radius: 20px;
}

.addQueue {
    position: absolute;
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 0px;
}

.addQueueInput {
    position: absolute;
    margin: 10px;
    right: 0;
    height: 40px;
    width: 225px;
    border-radius: 20px;
    border: none;
}

.addNameInput {
    position: absolute;
    bottom: 0;
    margin: 10px;
    right: 0;
    height: 40px;
    width: 225px;
    border-radius: 20px;
    border: none;
}

.queues {
    position: absolute;
    top: 60px;
}

.queuedSong {
    margin: 10px;
    width: 280px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
}