.frontPgButton {
    width: 13.5vw;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.5vw;
    font-family: "Bebas Neue",sans-serif;
    font-weight: 100;
    letter-spacing: 0.2vw;
    color: #ffeed8;
    text-shadow: 
        .025vw 0vw .25vw #ffeed8, .05vw 0vw .25vw #ffeed8, .0075vw 0vw .25vw #ffeed8, 
        .025vw 0vw   0vw #f2b457, .05vw 0vw   0vw #f2b457, .0075vw 0vw   0vw #f2b457,
        .025vw 0vw   1vw #a5620a, .05vw 0vw   1vw #a5620a, .0075vw 0vw   5vw #a5620a; 
    border-radius: 0.3vw;
    filter: contrast(0%);
    transition: box-shadow 0.05s linear;
}

@keyframes lightUpText{
    0% {} 
    30%, 60%  { filter: contrast(0%);}
    15%, 45%   { filter: contrast(80%); }
    100% { filter: contrast(100%); }
}

.frontPgButton:hover {
    filter: contrast(100%);
}

.frontPgButton:focus {
    outline: none;
}

.roomCodeInput[type="text" i] {
    padding: none;
    color: #ffeed8;
    text-align: center;
    font-size: 1vw;
    text-shadow:  
        .025vw 0vw   0.25vw #f2b457, .05vw 0vw   0.25vw #f2b457, .0075vw 0vw   0.25vw #f2b457,
        .025vw 0vw      1vw #a5620a, .05vw 0vw      1vw #a5620a, .0075vw 0vw      5vw #a5620a;
}

.roomCodeInput:focus {
    outline: 0;
    box-shadow:
        0 0 0.1vw  0.4vw #ffeed8,   
        0 0 0.4vw  0.6vw #f2b457, 
        0 0   4vw  0.4vw #a5620a,
        inset 0 0 1.5vw  0.4vw #a5620a,
        inset 0 0 0.4vw  0.2vw #f2b457,
        inset 0 0 0.5vw  0.2vw #ffeed8;
}

.roomCodeInput::placeholder {
    font-size: 1vw;
    text-align: center;
    color: #ffeed8;
    text-shadow:  
        .025vw 0vw   0.25vw #f2b457, .05vw 0vw   0.25vw #f2b457, .0075vw 0vw   0.25vw #f2b457,
        .025vw 0vw      1vw #a5620a, .05vw 0vw      1vw #a5620a, .0075vw 0vw      5vw #a5620a; 
}

.generate {
    display: block;
    margin: 1.2vw auto 2.4vw auto;
    height: 2vw;
    cursor: url(../pictures/finger.png), auto;
}

.generated {
    display: block;
    margin: 1.2vw auto;
    height: 2vw;
    font-size: 1.5vw;
    font-family: "Bebas Neue",sans-serif;
    font-weight: 100;
    letter-spacing: 0.2vw;
    color: #ffeed8;
    text-shadow: 
        .025vw 0vw .25vw #ffeed8, .05vw 0vw .25vw #ffeed8, .0075vw 0vw .25vw #ffeed8, 
        .025vw 0vw   0vw #f2b457, .05vw 0vw   0vw #f2b457, .0075vw 0vw   0vw #f2b457,
        .025vw 0vw  .1vw #f2b457, .05vw 0vw  .1vw #f2b457, .0075vw 0vw  .1vw #f2b457,
        .025vw 0vw   2vw #f2b457, .05vw 0vw   2vw #f2b457, .0075vw 0vw   2vw #f2b457, 
        .025vw 0vw   1vw #a5620a, .05vw 0vw   1vw #a5620a, .0075vw 0vw   5vw #a5620a, 
        .025vw 0vw   5vw #a5620a, .05vw 0vw  20vw #a5620a, .0075vw 0vw  10vw #a5620a,
        .025vw 0vw  10vw #a5620a, .05vw 0vw  30vw #a5620a, .0075vw 0vw  10vw #a5620a;
}

.notGenerated {
    display: block;
    margin: 1.2vw auto;
    height: 2vw;
    font-size: 1.5vw;
    font-family: "Bebas Neue",sans-serif;
    font-weight: 100;
    letter-spacing: 0.2vw;
    color: #ffeed8;
    text-shadow: 
        .025vw 0vw .25vw #ffeed8, .05vw 0vw .25vw #ffeed8, .0075vw 0vw .25vw #ffeed8, 
        .025vw 0vw   0vw #f2b457, .05vw 0vw   0vw #f2b457, .0075vw 0vw   0vw #f2b457,
        .025vw 0vw  .1vw #f2b457, .05vw 0vw  .1vw #f2b457, .0075vw 0vw  .1vw #f2b457,
        .025vw 0vw   2vw #f2b457, .05vw 0vw   2vw #f2b457, .0075vw 0vw   2vw #f2b457, 
        .025vw 0vw   1vw #a5620a, .05vw 0vw   1vw #a5620a, .0075vw 0vw   5vw #a5620a, 
        .025vw 0vw   5vw #a5620a, .05vw 0vw  20vw #a5620a, .0075vw 0vw  10vw #a5620a,
        .025vw 0vw  10vw #a5620a, .05vw 0vw  30vw #a5620a, .0075vw 0vw  10vw #a5620a;
    filter: contrast(0%);
}

.join {
    display: block;
    margin: 1.2vw auto;
    height: 2vw;
    cursor: url(../pictures/finger.png), auto;
}

.roomCodeInput {
    padding: 0.6vw;
    border-radius: 0.3vw;
    background-color: rgba(0, 0, 0, 0);
    box-shadow:
        0 0 0.025vw  0.2vw #ffeed8,   
        0 0 0.2vw   0.3vw #f2b457, 
        0 0   2vw   0.2vw #a5620a,
        inset 0 0 0.5vw   0.2vw #a5620a,
        inset 0 0 0.2vw   0.1vw #f2b457,
        inset 0 0 0.25vw  0.1vw #ffeed8;
    margin: 1.2vw auto 1.2vw auto;
    width: 12.5vw;
}