.noRoomWrapper {
    height: 100vh;
    width: 100vw;
}

.noRoom {
    color: #DFDEDE;
    font-family: "Bebas Neue",sans-serif;
    font-size: 5.4vw;
    font-weight: 100;
    letter-spacing: 0;
    text-shadow: 
        .05vw 0vw .25vw #ffd8ff, .1vw 0vw .25vw #ffd8ff,  .2vw 0vw .25vw #ffd8ff, 
        .05vw 0vw   0vw #d357f2, .1vw 0vw   0vw #d357f2,  .2vw 0vw   0vw #d357f2,
        .05vw 0vw  .1vw #d357f2, .1vw 0vw  .1vw #d357f2,  .2vw 0vw  .1vw #d357f2,
        .05vw 0vw   2vw #d357f2, .1vw 0vw   2vw #d357f2,  .2vw 0vw   2vw #d357f2, 
        .05vw 0vw   1vw #790aa5, .1vw 0vw   1vw #790aa5,  .2vw 0vw   5vw #790aa5, 
        .05vw 0vw   5vw #790aa5, .1vw 0vw  20vw #790aa5,  .2vw 0vw  10vw #790aa5,
        .05vw 0vw  10vw #790aa5, .1vw 0vw  30vw #790aa5,  .2vw 0vw  10vw #790aa5;
    width: 100vw;
    text-align: center;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    animation: flicker 2s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 41.999%, 44%, 100% {
		filter: contrast(100%);
	}
	20%, 21.999%, 42%, 43.999% {
        filter: contrast(0%);
    }
}

.goBack {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../frontPage/pictures/goback.png);
    background-size: cover;
    width: 17vw;
    height: 11.35vw;
    cursor: url(../frontPage/pictures/finger.png), auto;
}

.goBack:focus {
    outline: none;
}